@import "tailwindcss";

@layer utilities {
  @keyframes pulse-fast {

    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  @keyframes radar-sweep {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animate-pulse-fast {
    animation: pulse-fast 1.2s infinite ease-in-out;
  }

  .animate-radar {
    animation: radar-sweep 4s linear infinite;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0e0d0d0b;
}

::-webkit-scrollbar-thumb {
  background: #931a1c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}